<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
    
       <%for(var i in nav){%>
        <li class="nav-item"><a class="nav-link" href=<%=nav[i].link%>><%=nav[i].name%></a></li>
           <%}%>
    </ul>

</nav>
  
<div class="container">
  <p>Welcome <%=uname%> !!!</p>
</div>

</body>
</html>
