
<header class="top-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 header-logo">
					<br>
					<a href="/home"><img src="assets/img/logo.png" alt="" class="img-responsive logo"></a>
				</div>

				<div class="col-md-8">
					<nav class="navbar navbar-default">
					  <div class="container-fluid nav-bar">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
					      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					    </div>

					    <!-- Collect the nav links, forms, and other content for toggling -->
					    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					      
					      <ul class="nav navbar-nav navbar-right">
					        <li><a class="menu active" routerLink="/home">Home</a></li>
					        <li><a class="menu" routerLink="/aboutUs">about us</a></li>
					        <li><a class="menu" routerLink="/services">our services </a></li>
					        <li><a class="menu" routerLink="/team">our team</a></li>
					        <li><a class="menu" routerLink="/contactUs"> contact us</a></li>
					      </ul>
					    </div><!-- /navbar-collapse -->
					  </div><!-- / .container-fluid -->
					</nav>
				</div>
			</div>
		</div>
	</header> <!-- end of header area -->

<div >
<router-outlet></router-outlet>
</div>


	<!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 footer-para">
					<p>&copy;Mitarth Vaid All right reserved</p>
				</div>
				<div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div>
			</div>
		</div>
	</footer>
